@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Federant&family=Mozilla+Headline:wght@200..700&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Federant&family=Mozilla+Headline:wght@200..700&family=Orbitron:wght@400..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body{
  margin:0px;
  padding: 0px;
  overflow-x: hidden;

}
/* section1 of header is start from here */
#section1{
  max-width:100%;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 1000;

}
.first-line{
  max-width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  background-color:rgb(254, 249, 245);
  box-shadow: 1px 1px 1px rgb(233, 232, 232);

}
.logo-img{
  max-width: 100%;
  width: 15%;
  height: auto;
}
.page-heading{
  margin-top: 3%;
  margin-bottom: 1%;
  text-align: center;
  width: 60%;
  letter-spacing: 1rem;
  font-family: "Orbitron", sans-serif;
  font-size: 1.7rem;
  color:rgb(76, 35, 32);
  

}
.logo-img img{
  height: 150px;
  margin-top: -9%;
  max-width: 100%;
  object-fit: contain;
}

.data{
  display:grid;
  grid-template-columns: auto auto auto ;
  grid-template-rows: auto auto;
  column-gap: 2%;
max-width: 100%;
width: 25%;
height: 40px;
text-align: end;
margin-top: 1%;
margin-right: 2%;

}
#Search-bar{
  height: 27px;
  border-radius: 7px;
  border: 0.2px solid rgb(188, 186, 186);
  margin-top: 2%;

}
.search-btn{
  height: 38px;
  width: 100%;
  background: none;
 border-radius: 50%;
 border: none;
 
}
.search-btn:hover{
  background-color: rgb(253, 239, 224);;
}
.search-btn:active{
  box-shadow: 1px 1px 1px rgb(220, 220, 220);
}

.search-btn img{
  max-width: 100%;
  width: 100%;
  height: 35px;  
}
button.search-btn{
  margin:0%;
  padding:0px;
}
.tools{
  font-size: 0.8rem;
}
.search{
  position: relative;
  top: 50%;
}
.tools a{
text-decoration: none;
color:black
}
.second-line{
  height: 60px;
  display: flex;
  max-width: 100%;
  box-shadow: 1px 1px 1px rgb(233, 232, 232);
  background-color: white;
}
.for-gender-btns{
  text-align: center;
  width: 80%;
  max-width: 100%;
}
.for-gender-btns a{
  text-decoration: none;
  color: black;
}
.about{
  margin-top: 1%;
  margin:2%;
   position: relative;
  left:10%;
  max-width: 100%;
  width: 10%;
background: none;
border: none;
font-size: 1.1rem;
}
.about:hover{
  text-decoration: underline;
  cursor: pointer;
}

.for-wishlist-cart-btn{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: end;

}

.wishlist img{
  max-width: 100%;
  width: 100%;
  height: 30px;
}
.cart{
z-index: 999;
position:relative;
height: 60px;
}
.cart img{
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  padding-top:10px;
}
.filling{
max-width: 100%;
 background: none;

border: none;

}
.filling:hover{
  border-radius: 50%;
  background-color: rgb(253, 239, 224);
  cursor: pointer;
}
.filling:active{
  box-shadow: 1px 1px 1px  rgb(187, 187, 187);
}

/* section two with all the products in container here */

#section2 #men-section{
max-width: 100%;
margin: 0 auto;
height: auto;
padding: 2%;
 
}
#section2 .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
   /* FOR AUTO ADJUSTMENT  */
  /* Grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));  */
 column-gap: 20px;
 row-gap: 60px;
 padding: 0px;
  
}
.shoe-card{
 margin-top: 20px;  
}
.shoe-card:hover{
  cursor: pointer;
}
.container .men-container{
  margin: 0px;
  padding: 0px;
  
}
 .heading-for-shoe{
  letter-spacing: 1rem;
  color: rgb(38, 19, 16);
  max-width: 100%;
  font-size: 3.2rem;
  padding: 2%;
  margin-top: 5%;
  font-family: "Orbitron", sans-serif;
  
 }
 .heading-for-shoe-dis{
  letter-spacing: 1.1rem;
  color: rgb(69, 133, 74);
  max-width: 100%;
  font-size: 2.7rem;
  padding: 2%;
  margin-top: 17%;
  font-family: "Orbitron", sans-serif;

 }
 .heading{
   max-width: 100%;
    text-align: center;
   margin-top: 15%;
 }
.shoe-img{
  text-align: center;
}
.shoe-img img{
  max-width: 100%;
  height: 270px;
  width: 90%;
  
}
.all-data-div{
  padding-left: 5%;
}

.shoe-name{
 font-family: "Titillium Web", sans-serif;
 font-weight: 700;
 font-size: 1.2rem;
 margin: 0px;
 margin-top:2%;
 padding: 0px;
}

 .brand-name{
 margin: 1px;
  padding: 0px;
  color: grey;
 }
.gender{
  margin: 1px;
  padding: 0px;
  color: rgb(62, 61, 61);
  font-family: "Titillium Web", sans-serif;

}
.price-details{
  margin: 1px;
  margin-top: 3%;
  padding: 0px;
  display: grid;
  grid-template-columns: 40% 20% ;

}
.current-price{
  margin: 1px;
  padding: 0px;
  font-size: 1.2rem;

}
.price{
  margin: 1px;
  padding: 0px;
  text-decoration:line-through ;
  color: grey;

}
.discount{
  margin: 1px;
  padding: 0px;
  color: rgb(12, 127, 21);
  font-weight: 700;
  font-size: 1.2rem;

}
.in-container-wishlist-btn{
  max-width: 100%;
  height: auto;
background: none;
border: none;
}
.add_btns{
  display: grid;
  grid-template-columns: 70% 20%;
  margin-top: 5%;

}
.in-container-cart-btn{
  margin: 1%;
  background-color: rgb(72, 142, 72);
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 300;
  font-size: 1rem;
  height: 35px;

}
.in-container-cart-btn:hover{
  box-shadow: 2px 2px 2px rgb(176, 175, 175);
  background-color: rgb(81, 176, 81);

}
.in-container-cart-btn:active{
  box-shadow: none;
  background-color: rgb(72, 142, 72);
}
.shoe{
  position: relative;
}
.in-container-wishlist-btn{
 max-width: 100%;
 margin: 5px;
  width: 35px;           
  height: 27px;
  border-radius: 5px; 
  background-image: url('shoe_images/360_F_1562810911_m1Dv0d3PKkiMlCGLWakKLkfVnqhhRuOk-removebg-preview.png');
  background-size: cover;  
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  display: block;
  /* position: relative;  */
}

.in-container-red-heart-btn{
   max-width: 100%;
 /* margin: 5px; */
 /* margin-top: 3px; */
  width: 40px;           
  height: 30px;
  border-radius: 5px; 
  background-image: url('shoe_images/istockphoto-1903985199-612x612.jpg');
  background-size: cover;  
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; 
  position: absolute;
  left: 2px;
  top: 10%;
  border:none;
  display: none;
}


#section3{
  height: 450px;
  max-width: 100%;
  display: flex;
   flex-direction: row;
   margin-top: 5%;
   background-color:rgb(254, 249, 245); 

}
#section3 a{
  text-decoration: none;
  color: rgb(82, 82, 81);
   font-family: "Titillium Web", sans-serif;
   
}
.resources{
  margin: 5%;
}
.help{
  margin: 5%;

}
.company{
  margin: 5%;

}
.other-footer-link{
  margin: 5%;

}
.humbarger{
  display: none;
}
.side-page{
  visibility: hidden;
}
.cart-filling-count{
max-width: 100%;
width: 20%;
display: flex;
flex-direction: column;
}
.cart-items-count{
   position:absolute;
   left: 23px;
  top: 5px;
  height: 20px;
  width: 30%;
  font-size: 0.9rem;
  border-radius: 50%;
  z-index: 1000;
  font-weight: 600;
  background-color:rgb(244, 62, 62);
  color:white;
margin: 0px;
text-align: center;
padding-top: 4px;
display: none;
/* padding-right:1px; */
}


/* ADD RESPONSIVENESS */
@media(max-width: 480px){

.logo-img{
   height: 130px;
   width: 25%;
}
.logo-img img{
  height: 130px;
}
.page-heading {
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  position: relative;
  top: 20%;
  height: 50px;
  max-width: 100%;
  text-align: left;
}
.data{
  display: none;
}
.for-gender-btns{
  display: none;
}
.for-wishlist-cart-btn{
   max-width:100%;
}
.filling{
  margin: 0px;
  width: 17%;
  height: 50px;
}

.heading-for-shoe{
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
   text-align: center;
  max-width: 100%;
   /* height: 50px; */
  /* width: 100%; */
   margin: 0px;
  padding: 0px;   

} 
.second-line{
  max-width: 100%;
  display: block;
  flex:none;
  height: 60px;
}
.first-line{
  max-width: 100%;
}
#section1  {
  max-width: 100%;
}
#section2 .container {
  max-width: 100%;
  width: 100%;
  column-gap: 0px;
   grid-template-columns: repeat(2, 1fr);
   row-gap: 10px;
}

.cart img{
  height: 45px;
  max-width: 100%;

}
.shoe-img img{
  height: 220px;
}
 #section3{
  margin-top: 15%;
 }
 .shoe-card{
  margin-top: 30%;
 }
 .h-line{
width: 30px;
height: 2px;
background-color: rgb(71, 45, 45);
margin: 6px 0;
}
.humburger-btn:active{
  background-color:rgba(241, 198, 162, 0.23);
}
.humbarger{
  max-width: 100%;
  width:15%;
padding-top: 7%;
display: block;
}
.humburger-btn{
  background: none;
  max-width: 100%;
  border: none;
}
.side-page{
  max-width: 100%;
  width: 60%;
  height: 800px;
z-index: 1000;
background-color: rgba(255, 251, 246, 0.865);
position: fixed;
margin-left: 40%;
transform: translateX(200px);
transition: transform 0.5s ease;

}
.side-page.show{
transform: translateX(0px);
visibility: visible;
}

.for-gender-btns2{
display: flex;
flex-direction: column;
padding-top: 20%;
}
.about2{
  margin:12%;
   position: relative;
  left:10%;
  margin-top: 10%;
  max-width: 100%;
  width: 10%;
background: none;
border: none;
font-size: 1.2rem;
font-weight: 500;

}
.about2 a{
  text-decoration: none;
  color:rgb(77, 50, 50);
}
.about2:hover{
  text-decoration: underline;
  cursor: pointer;
}

.tools2 a{
  text-decoration: none;
  color:rgb(36, 23, 23);
}
.tools2{
  margin:10%;
   position: relative;
  left:15%;
  max-width: 100%;
  width: 20%;
background: none;
border: none;
font-size: 1rem;
color:rgb(77, 50, 50);
font-weight: 400;
}
.tools2:hover{
  text-decoration: underline;
  cursor: pointer;
}
.close{
  background: none;
  border: none;
  position: relative;
  top: 5%;
  left: 10%;
  height: 40px;
}
.close:active{
  box-shadow: 1px 1px 1px grey;
  /* border-radius: 30px; */
}
.cart{
  width: 70%;
  max-width: 100%;
  height: 50px;
  /* margin-top: 10px; */
}

.wishlist{
  max-width: 100%;
  width: 14%;
  height:50px;
  margin-top: 10px;
}
.wishlist img{
  height: 35px;
  max-width: 100%;
}
.cart-items-count{
left: 20px;
top: 3px;

}
#section2{
  max-width: 100%;
  width: 100%;
}
.heading {
    max-width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 40%;
}
.heading-for-shoe-dis{
   font-size: 1rem;
 
}

}